@media (min-width: 801px) {
  body { 
  	background: gold; 
  }

  .the-heading{
  	background-color: olivedrab;
  	margin-left: 5%;
  	margin-right: 5%;

  }

  .entire-ul{
  	background-color: olivedrab;
  	margin-left: 5%;
  	margin-right: 5%;
  }

  .lorems{
  	background-color: olivedrab;
  	margin-left: 5%;
  	margin-right: 5%;
  	font-family: "Times New Roman";
  }
}