div.bargraph{
	background-color:pink; 
	display: inline-block; 
	height: 100px; 
	width:10px;
	margin-right: 5px;
}


/*svg related*/
.pumpkin {
  fill: yellow;
  stroke: orange;
  stroke-width: 5;
 }
